.switch {
	-moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
   	box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.6);
	width: 50px; 
	border-radius: 100px; 
	background: #666; 
	padding: 3px;
	display: inline-block;
	position: relative;
	transition: all 0.3s;
}

.switch-on {
	-moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
   	box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.3);
	width: 50px; 
	border-radius: 100px; 
	background: orange;
	padding: 3px;
	display: inline-block;
	position: relative;
	transition: all 0.3s;
}

.switch-btn {
	height: 24px; width: 24px; 
	background: #fff; 
	border-radius: 100%;
	transition: all 0.3s;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	left: 0px;
}

.switch-btn-on {
	height: 24px; width: 24px; 
	background: #fff; 
	border-radius: 100%;
	transition: all 0.3s;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	left: 26px;
}

.text-center {
	text-align: center;
}

h3 {
	position: relative;
}

h3 > i {
	position: absolute; top: 5px; left: -30px;
}